body{
    background-color: lightsteelblue;
}

.titulo{
    width: 40%;
    margin-left: 30%;
    background-color: cadetblue;
    color: yellow;
    border: 3px solid yellow;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
/* ABSOLUTAS */

/* el de las unidades [número] seguido de unidad de medida sin espacio[cm] */
.centimetros{
    font-size: 1cm;
    color:yellowgreen;
}

/* picas pc */
.picas{
    font-size: 1pc;
    color: pink;
}

/* puntos pt */
.puntos{
    font-size: 10pt;
    color: blueviolet;
}

/* pixeles px */
.pixeles{
    width: 150px;
    /* height = altura */
    height: 150px;
    background-color: fuchsia;
    border-radius: 50%;
}


/* Relativas */

/* % */


.porcentaje{
    width: 60%;
    background-color: cornflowerblue;
    text-align: center;
}

/* ejemplo para entender visualmente cuando ocupar px o % */
.pixeles-parrafo{
    width: 810px;
    background-color: blueviolet;
    text-align: center;
}

/* viewport  vw [width] y vh [height]*/
.cuadrado{
    width: 20vw;
    height: 40vh;
    background-color: darksalmon;
}


.carlos-cuadro{
    background-color: lightsalmon;
    color: lightseagreen;
    font-size: 100px;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    padding: 10px;
    border: 15px dotted coral;
    text-align: center;
    /* sombranpara texto  */
    /* [X] eje x [y] eje y [b]  blur */
    text-shadow: 5px 5px 5px black;
}

.circulo{
    background-color: goldenrod;
    width: 300px;
    height: 300px;
    margin-left: 40%;
    border-radius: 50%;
    text-align: center;
}

